body{
    border: 5px;
    font-family: cursive;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, blue, purple,red);
    font-size: 20px;
    margin-left: 65%;
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input{
    border-radius: 3px;
}
.one{
    border: 10px solid linear-gradient(to right, blue, purple);
}
label{
    margin-right: 45%;
}
.two{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, blue, purple,red);
    font-size: 20px;
    margin-left: 100%;
}
