h3{
    background: linear-gradient(to right, blue, purple);
    border: 0px;
    font-family: tahoma;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    color: purple;
}
img{
    width: 400px;
    height: 250px;
    background: linear-gradient(to right, blue, purple);
   display: flex;
   justify-content: space-around; 
}

