h3{
    background: linear-gradient(to right, blue, purple);
    border: 0px;
    font-family: tahoma;
}
a{
    color: white;
    text-decoration: none;
}
h1{
    color: purple;
}
p{
    background: linear-gradient(to right, blue, purple);
    border: 0px;
    font-family: tahoma; 
}
br{
    color: white;
}